.mobile_wrap {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100vw;
  height: 100vh;
  transform: scaleX(0);
  transform-origin: left;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out,
    height 500ms ease-in-out;
  z-index: -1;
}

.mobile_menu_open {
  height: 100vh;
  transform: scaleX(1);
  opacity: 1;
  z-index: 1000;
}

.burger_menu {
  height: 100vh;
  width: 83vw;
  max-width: 315px;
  background-color: var(--background);
}
