.section {
  min-height: 80vh;
}

.header_container {
  padding: 24px;
  border-radius: 24px;
  background: var(--background);
  box-shadow: var(--box_shadow);
  margin-bottom: 24px;
}

.header {
  color: var(--text_dark);
  font-size: var(--fs_large);
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 8px;
}

.header_text {
  color: var(--text_light);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 400;
  line-height: 1.57;
  margin-bottom: 24px;
}

.btns_wrap {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
}

.selects_wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin-bottom: 12px;
}

.field {
  width: 602px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.label_wrap {
  display: flex;
  gap: 12px;
  align-items: center;
}

.label {
  color: var(--text_dark);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 400;
  line-height: 1.57;
}

.input {
  flex: 1;
  height: 42px;
  padding: 10px 14px;
  border-radius: 12px;
  border: 1px solid var(--grey);
  background: var(--background);
  color: var(--text_dark);
  font-size: var(--fs_xsmall);
  font-style: normal;
  font-weight: 400;
  line-height: 1.37;
  transition: border 0.3s ease;
}

.input::placeholder {
  color: var(--text_light);
  font-size: var(--fs_xsmall);
  font-style: normal;
  font-weight: 400;
  line-height: 1.37;
}

.input:focus,
.input:hover {
  outline: none;
  border: 1px solid var(--main_light);
}

.input_error {
  border: 1px solid var(--error_main);

  &:focus,
  &:hover {
    outline: none;
    border: 1px solid var(--error_main);
  }
}

.error {
  color: var(--error_main);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-top: 6px;
}

.icon {
  transition: transform 0.3s ease !important;
}

.icon_collapsed {
  transform: rotate(0deg);
}

.icon_expanded {
  transform: rotate(90deg);
}

.subcategory_list {
  border-top: var(--grey) 1px solid;
  margin-left: 70px;
}

.subcategory_list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.subcategory_list li {
  padding: 10px 16px;
  display: flex;
  gap: 45px;
  align-items: center;
  border-bottom: var(--grey) 1px solid;
}

.subcategory_list p {
  color: var(--text_light);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  width: 180px;
  overflow-x: auto;
}

.subcategory_list span {
  display: block;
  color: var(--text_dark);
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.table_container {
  border-radius: 24px;
  background: var(--background);
  box-shadow: var(--box_shadow);
}

.name_wrap {
  display: flex;
  gap: 6px;
  align-items: center;
  width: 180px;
}

.table {
  width: 100%;
  background: var(--background);
  border-collapse: collapse;
}

.thead tr {
  border-bottom: 1px solid var(--grey);
}

.tbody tr:last-child {
  border-bottom: 1px solid var(--grey);
}

.th,
.td {
  padding: 16px;
  text-align: left;
  &:first-child {
    padding-left: 24px;
  }
}

.th {
  color: var(--text_light);
  font-size: 13px;
  font-weight: 600;
  line-height: 1.84;
  min-width: 80px;
}

.td {
  color: var(--text_dark);
  font-size: var(--fs_small);
  font-weight: 400;
  line-height: 1.57;
  &:last-child {
    padding: 9px 16px;
  }

  & button {
    font-size: 14px;
    height: 36px;
    gap: 6px;
    & svg {
      top: 10px;
      left: 15px;
    }
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 8px 10px 16px;
  gap: 8px;
}

.pagination_text {
  color: var(--text_dark);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.58;
}

.pagination_btn_wrap {
  display: flex;
  gap: 8px;
}

.pagination_btn {
  width: 36px;
  height: 36px;
  padding: 8px;
}

.icon_back {
  transform: rotate(180deg);
}

.pagination_btn:disabled .icon_back,
.pagination_btn:disabled .icon_forward {
  fill: var(--disabled_grey);
}

.pagination_select {
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--text_dark);
  font-family: var(--font_sans);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 400;
  line-height: 1.57;

  &:hover,
  &:focus {
    border: none;
    outline: none;
  }
}

.pagination_wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
}

.pagination_input {
  width: 40px;
  display: inline-block;
  padding: 2px;
  color: var(--text_dark);
  font-family: var(--font_sans);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 400;
  line-height: 1.57;
  text-align: center;
  border-radius: 4px;
  border: 1px solid var(--grey);
  outline: none;
}

.table_wrap {
  width: 100%;
  overflow-x: auto;
}

@media (min-width: 768px) {
  .header_container {
    margin: 0;
    max-width: auto;
    margin-bottom: 24px;
  }
  .pagination {
    align-items: center;
    padding: 16px 24px 24px;
    gap: 24px;
  }

  .pagination_text {
    font-size: var(--fs_small);
  }
  .buttons_wrap {
    flex-direction: row;
  }
}
