.icon {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.icon_hov {
  position: absolute;
  top: 9px;
  left: 16px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  padding: 10px 16px;
  background: var(--main_blue);
  transition: background 0.3s ease;
  color: var(--grey_light);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.37;
  white-space: nowrap;

  &:hover,
  &:focus {
    background: var(--main_dark);
    & .icon {
      opacity: 0;
    }
    & .icon_hov {
      opacity: 1;
    }
  }
}

@media (min-width: 350px) {
  .button {
    font-size: var(--fs_small);
  }

  .icon_hov {
    top: 11px;
  }
}

@media (min-width: 375px) {
  .button {
    font-size: var(--fs_xsmall);
  }

  .icon_hov {
    top: 14px;
  }
}
