.text {
  color: var(--text_dark);
  font-size: var(--fs_xsmall);
  font-style: normal;
  font-weight: 400;
  line-height: 1.37;
  padding-top: 24px;
  border-top: 1px solid var(--grey);
  margin-bottom: 16px;
  margin-top: 24px;
}

.field {
  & button {
    align-self: self-start;
  }
}

.fieldBottom {
  & button {
    align-self: self-start;
    font-size: var(--fs_small);
  }
}

.form {
  min-width: 580px;
}

.inputWrapper {
  position: relative;
  width: 100%;
  display: flex;

  & input {
    flex: 1;
  }
}

.togglePassword {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
  padding: 0;
  font-size: 12px;
}

.checkboxWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}
