.text {
  color: var(--text_dark);
  font-size: var(--fs_xsmall);
  font-style: normal;
  font-weight: 400;
  line-height: 1.37;
  padding-top: 24px;
  border-top: 1px solid var(--grey);
  margin-bottom: 16px;
  margin-top: 24px;
}

.field {
  & button {
    align-self: self-start;
  }
}

.fieldBottom {
  & button {
    align-self: self-start;
    font-size: var(--fs_small);
  }
}

.form {
  width: 600px;
}

.inputWrapper {
  position: relative;
  width: 100%;
  display: flex;

  & input {
    flex: 1;
  }
}

.togglePassword {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
  padding: 0;
  font-size: 12px;
}

.settings_text {
  color: var(--text_light);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.57;
  margin-bottom: 16px;
}

.accessSection {
  border-radius: 16px;
  border: 1px solid var(--Grey-Grey, #e1e1ec);
}

.toggler_wrap {
  display: flex;
  padding: 24px;
  align-items: center;
  justify-content: space-between;
}

.toggler_text {
  color: var(--text-Dark);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switchLabel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.switchLabel:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.switch input:checked + .switchLabel {
  background-color: #5671ff;
}

.switch input:checked + .switchLabel:before {
  transform: translateX(16px);
}

.functionsTable {
  padding: 12px;
  margin-bottom: 16px;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: 500;
}

.tableHeader span:first-child {
  flex: 1;
}

.headerCheckboxes {
  display: flex;
  gap: 6px;
  justify-content: space-between;
  margin-left: auto;
  & span {
    color: #919eab;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0px;
  }
}

.icon_angle {
  fill: #a9a9c1;
  transition: fill 0.3s ease, transform 0.3s ease;
}

.icon_angle_open {
  fill: #2a2a2a;
  transform: rotate(180deg);
}

.functionRow {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.functionRow:last-child {
  border-bottom: none;
}

.functionName_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  transition: background 0.3s ease;
  border-radius: 8px;

  &:hover {
    background: #f1f1f6;
  }
}

.name_open {
  background: #f1f1f6;
}

.functionName {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  &:hover {
    .expandButton {
      background: rgba(145, 158, 171, 0.24);
    }
  }
}

.functionName_text {
  color: var(--text_dark);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.37;
}

.expandButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.expandButton_open {
  background: rgba(145, 158, 171, 0.24);
}

.checkboxes {
  display: flex;
  gap: 32px;
  width: 200px;
  margin-left: auto;
  justify-content: flex-end;
}

.subcategoriesSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
}

.fieldBottom {
  margin-bottom: 15px;
}

.btnWrap {
  display: flex;
  gap: 10px;
  flex-direction: row !important;
}
