:root {
  --font_inter: 'Inter', serif;
  --font_sans: 'Public Sans', serif;
  --font_sfPro: 'SF-Pro-Display', sans-serif;

  --background: #fff;
  --foreground: #e1e4f2;

  --blue_light: rgba(86, 113, 255, 0.2);

  --main_light: #aebbff;
  --main_blue: #5671ff;
  --main_darker: #0f2abd;
  --main_dark: #1939df;

  --text_light: #707579;
  --text_dark: #2a2a2a;
  --text_light_primary: #212b36;
  --text_light_secondary: #637381;

  --grey: #e1e1ec;
  --grey_light: #f1f1f6;
  --transparent_grey: #a9a9c1;
  --disabled_grey: #a9a9c1;

  --box_shadow: 0px 0px 2px 0px rgba(153, 159, 195, 0.2),
    0px 12px 24px -4px rgba(153, 159, 195, 0.12);

  --fs_small: 14px;
  --fs_xsmall: 16px;
  --fs_medium: 18px;
  --fs_large: 24px;
  --fs_xlarge: 32px;
  --fs_mxlarge: 40px;
  --fs_xxlarge: 64px;
  --fs_xxxlarge: 80px;

  --mobile: 328px;
  --mobile_l: 360px;
  --mobile_xl: 475px;
  --tablet: 768px;
  --laptop: 1024px;
  --desktop: 1328px;

  --container: 91.1%;
  --container_mob: 95.55%;
}
