.checkbox_field {
  padding: 11px 0;
  border-bottom: 1px solid var(--grey);
  display: flex;
  gap: 12px;
  align-items: center;

  &:last-child {
    border-bottom: none;
  }

  &:hover,
  &:focus {
    & .drag_icon {
      fill: var(--text_light);
    }
  }
}

.drag_icon {
  margin-right: 4px;
  transition: fill 0.3s ease;
}

.drag_handle {
  touch-action: none;
  cursor: grab;
  display: flex;
  align-items: center;
}
