.field_wrap_main {
  display: flex;
  min-width: 830px;
}

.field_wrap {
  width: 390px;
  padding-right: 24px;
  border-right: 1px solid var(--grey);
  flex: 1;
}

.field_wrap_second {
  width: 390px;
  flex: 1;
  padding-left: 24px;

  & button {
    align-self: flex-start;
  }
}

.field_header {
  margin-bottom: 16px;
  color: var(--text_dark);
  font-size: var(--fs_xsmall);
  font-style: normal;
  font-weight: 400;
  line-height: 1.34;
}

.buttons_wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
  & label {
    margin: 0;
  }
}

.data_wrap {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.field {
  display: flex;
  align-items: center;
  gap: 8px;
  & label {
    margin: 0;
  }
}
