.header_container {
  padding: 24px;
  border-radius: 24px;
  background: var(--background);
  box-shadow: var(--box_shadow);
  margin-bottom: 24px;
}

.header {
  color: var(--text_dark);
  font-size: var(--fs_large);
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 8px;
}

.header_text {
  color: var(--text_light);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 400;
  line-height: 1.57;
}

.buttons_wrap {
  display: flex;
  gap: 16px;
  padding-left: 24px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--grey);
}

.table_container {
  border-radius: 24px;
  background: var(--background);
  box-shadow: var(--box_shadow);
}

.table {
  width: 100%;
  background: var(--background);
  border-collapse: collapse;
}

.thead tr {
  border-bottom: 1px solid var(--grey);
}

.tbody tr:last-child {
  border-bottom: 1px solid var(--grey);
}

.th,
.td {
  padding: 16px;
  text-align: left;
  &:first-child {
    padding-left: 24px;
  }
}

.th {
  color: var(--text_light);
  font-size: 13px;
  font-weight: 600;
  line-height: 1.84;
}

.td {
  color: var(--text_dark);
  font-size: var(--fs_small);
  font-weight: 400;
  line-height: 1.57;
  max-width: 250px;
  overflow-x: auto;
  white-space: nowrap;
  &:last-child {
    padding: 9px 16px;
  }
}

.table_buttons {
  display: flex;
  gap: 8px;
  & button {
    font-size: 14px;
    padding: 8px 12px;
    height: 36px;
    gap: 6px;

    & svg {
      top: 9px;
      left: 12px;
    }
  }
}

.table_text {
  color: var(--text_light);
  text-align: center;
  font-size: var(--fs_xsmall);
  font-style: normal;
  font-weight: 400;
  line-height: 1.37;
  padding-bottom: 21px;
  padding-top: 13px;
  border-bottom: 1px solid var(--grey);

  & span {
    font-weight: 500;
    color: var(--text_dark);
  }
}

.table_add_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0 24px;
}

.table_header {
  margin-bottom: 16px;
  padding-left: 24px;
  color: var(--text_dark);
  font-size: var(--fs_medium);
  font-style: normal;
  font-weight: 700;
  line-height: 1.22;
}

.table_container {
  border-radius: 24px;
  background: var(--background);
  box-shadow: var(--box_shadow);
  padding-top: 24px;
  margin-bottom: 24px;
}

.table_container_first {
  border-radius: 24px;
  background: var(--background);
  box-shadow: var(--box_shadow);
  padding-bottom: 20px;
  padding-top: 24px;
  margin-bottom: 24px;
}

.table_wrapper {
  max-height: 300px;
  overflow-y: auto;
  border-bottom: 1px solid var(--grey);
}

.replenishment_table_wrapper {
  max-height: 185px;
  overflow-y: auto;
  overflow-x: auto;
  width: px;
  border-bottom: 1px solid var(--grey);
}

.tables_wrapper {
  display: flex;
  gap: 24px;
}

.thead {
  position: sticky;
  top: 0;
  background-color: var(--background);
  z-index: 1;
}

.thead::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--grey);
}

.table_buttons {
  display: flex;
  gap: 8px;
  & button {
    font-size: 14px;
    padding: 8px 12px;
    height: 36px;
    gap: 6px;

    & svg {
      top: 9px;
      left: 12px;
    }
  }
}

.error_download_text {
  color: var(--text_light);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.37;
  margin-bottom: 16px;
}

.error_text {
  color: var(--text_light);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.37;
  margin-bottom: 16px;

  & span {
    color: var(--text_dark);
  }
}

.modal_error {
  max-width: 500px;
}

.table_add_btn {
  gap: 10px;
}

.table_buttons {
  display: flex;
  gap: 8px;
  & button {
    font-size: 14px;
    padding: 8px 12px;
    height: 36px;
    gap: 6px;

    & svg {
      top: 9px;
      left: 12px;
    }
  }
}

.bottom_wrap {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 24px;
}

.download_wrap {
  display: flex;
  gap: 16px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px 24px 24px;
  gap: 24px;
}

.pagination_text {
  color: var(--text_dark);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 400;
  line-height: 1.58;
}

.pagination_btn_wrap {
  display: flex;
  gap: 8px;
}

.pagination_btn {
  width: 36px;
  height: 36px;
  padding: 8px;
}

.icon_back {
  transform: rotate(180deg);
}

.pagination_btn:disabled .icon_back,
.pagination_btn:disabled .icon_forward {
  fill: var(--disabled_grey);
}

.pagination_select {
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--text_dark);
  font-family: var(--font_sans);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 400;
  line-height: 1.57;

  &:hover,
  &:focus {
    border: none;
    outline: none;
  }
}
