.stats_table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top: 20px;
  max-height: 250px;
  overflow-y: auto;
}

.stats_table th,
.stats_table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.stats_table th {
  background-color: #e9e9e9;
  font-weight: bold;
}

.stats_table tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}
