.header_container {
  border-radius: 24px;
  background: var(--background);
  box-shadow: var(--box_shadow);
  margin-bottom: 24px;
  padding-bottom: 34px;
}

.header_wrap {
  padding: 24px;
  padding-bottom: 16px;
}

.header {
  color: var(--text_dark);
  font-size: var(--fs_large);
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 8px;
}

.header_text {
  color: var(--text_light);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 400;
  line-height: 1.57;
  margin-bottom: 16px;
}

.buttons_wrap {
  display: flex;
  gap: 16px 12px;
  flex-wrap: wrap;
  align-items: center;
}

.table_header {
  margin-bottom: 16px;
  padding-left: 24px;
  color: var(--text_dark);
  font-size: var(--fs_medium);
  font-style: normal;
  font-weight: 700;
  line-height: 1.22;
}

.table_container {
  border-radius: 24px;
  background: var(--background);
  box-shadow: var(--box_shadow);
  padding-top: 24px;
  margin-bottom: 24px;
}

.table_container_first {
  border-radius: 24px;
  background: var(--background);
  box-shadow: var(--box_shadow);
  padding-bottom: 56px;
  padding-top: 24px;
  margin-bottom: 24px;
}

.table_wrapper {
  max-height: 215px;
  overflow-y: auto;
  overflow-x: auto;
  width: calc(100vw - 345px);
  border-bottom: 1px solid var(--grey);
  border-top: 1px solid var(--grey);
}

.server_table_wrapper {
  max-height: 275px;
  overflow-y: auto;
  overflow-x: auto;
  width: calc(100vw - 345px);
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  & .th:first-child {
    width: 67px;
  }
  & .th:nth-child(2) {
    width: 104px;
  }
  & .th:nth-child(3) {
    width: 96px;
  }
  & .th:nth-child(4) {
    width: 151px;
  }
  & .th:nth-child(5) {
    width: 147px;
  }
  & .th:nth-child(6) {
    width: 220px;
  }
  & .td:nth-child(6) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  & .th:last-child {
    width: 307px;
  }
}

.tables_wrapper {
  display: flex;
  gap: 24px;
}

.table {
  width: 100%;
  background: var(--background);
  border-collapse: collapse;
  table-layout: fixed;
}

.thead {
  position: sticky;
  top: 0;
  background-color: var(--background);
  z-index: 1;
}

.thead::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--grey);
}

.th,
.td {
  padding: 12px;
  text-align: left;
}
.th:first-child,
.td:first-child {
  padding-left: 24px;
}

.th {
  color: var(--text_light);
  font-size: 13px;
  font-weight: 600;
  line-height: 1.84;
}
.td {
  color: var(--text_dark);
  font-size: var(--fs_small);
  font-weight: 400;
  line-height: 1.57;
}
.td:last-child {
  padding: 9px 16px;
}

.th:last-child {
  width: 175px;
}

/* .th:last-child(1),
.td:last-child(1) {
  width: 64px;
} */
/* .th:nth-child(2),
.td:nth-child(2) {
  width: 104px;
}
.th:nth-child(3),
.td:nth-child(3) {
  width: 96px;
}
.th:nth-child(4),
.td:nth-child(4) {
  width: 151px;
}
.th:nth-child(5),
.td:nth-child(5) {
  width: 147px;
}
.th:nth-child(6),
.td:nth-child(6) {
  width: 225px;
}

.td:nth-child(6) {
  max-width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.th:nth-child(7),
.td:nth-child(7) {
  width: 305px; /* Дії */
/* }  */

.table_buttons {
  display: flex;
  gap: 8px;
  & button {
    font-size: 14px;
    padding: 8px 12px;
    height: 36px;
    gap: 6px;

    & svg {
      top: 9px;
      left: 12px;
    }
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px 24px 24px;
  gap: 24px;
}

.pagination_text {
  color: var(--text_dark);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 400;
  line-height: 1.58;
}

.pagination_btn_wrap {
  display: flex;
  gap: 8px;
}

.pagination_btn {
  width: 36px;
  height: 36px;
  padding: 8px;

  &:hover,
  &:focus {
  }
}

.icon_back {
  transform: rotate(180deg);
}

.pagination_btn:disabled .icon_back,
.pagination_btn:disabled .icon_forward {
  fill: var(--disabled_grey);
}

.pagination_select {
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--text_dark);
  font-family: var(--font_sans);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 400;
  line-height: 1.57;

  &:hover,
  &:focus {
    border: none;
    outline: none;
  }
}

.table_text {
  color: var(--text_light);
  text-align: center;
  font-size: var(--fs_xsmall);
  font-style: normal;
  font-weight: 400;
  line-height: 1.37;
  padding-bottom: 21px;
  padding-top: 13px;
  border-bottom: 1px solid var(--grey);

  & span {
    font-weight: 500;
    color: var(--text_dark);
  }
}

.table_add_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0 24px;
}
