.form {
  width: 80vw;
  max-width: 456px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 12px;
}

.label {
  color: var(--text_dark);
  font-size: var(--fs_xsmall);
  font-style: normal;
  font-weight: 400;
  line-height: 1.37;
}

.text {
  align-self: flex-start;
  display: flex;
  padding: 2px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--main_lighter);
  color: var(--main_blue);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 500;
  line-height: 1.57;
}

.buttons_wrap {
  display: flex;
  flex-direction: column-reverse;
  gap: 12px;
  margin-top: 32px;

  & button {
    flex: 1;
  }
}

@media (min-width: 768px) {
  .text {
    align-self: center;
  }
  .field {
    flex-direction: row;
    align-items: center;
  }

  .buttons_wrap {
    flex-direction: row;
    align-items: center;
    gap: 16px;

    & button {
      flex: 1;
    }
  }
}
