.chart_wrap {
  border-radius: 24px;
  padding: 24px;
  background: var(--background);
  box-shadow: var(--box_shadow);
}

.chart_header {
  color: var(--text_light_primary);
  font-size: var(--fs_medium);
  font-style: normal;
  font-weight: 700;
  line-height: 1.56;
  margin-bottom: 4px;
}

.chart_year_text {
  display: block;
  color: var(--text_light_secondary);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 400;
  line-height: 1.58;
  margin-bottom: 16px;
}

.chart_togglers_wrap {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}

.chart_toggler_block {
  display: flex;
  gap: 12px;
  align-items: center;
}

.chart_toggler_label {
  color: var(--text_dark);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 400;
  line-height: 1.58;
}

.chart_toggler_buttons {
  display: flex;
  gap: 4px;
  padding: 4px;
  border-radius: 12px;
  border: 1px solid var(--grey);
}

.chart_toggler_button_wrap {
  position: relative;
}

.chart_button {
  padding: 6px 12px;
  border-radius: 8px;
  background: var(--background);
  color: var(--disabled_grey);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 400;
  line-height: 1.58;
  transition: background 0.3s ease, color 0.3s ease;
  &:hover,
  &:focus {
    background: var(--grey_light);
    color: var(--text_dark);
  }

  & svg {
    margin-top: 4px;
    margin-right: 6px;
  }
}

.chart_button.active {
  background: var(--grey_light);
  color: var(--text_dark);
}

.custom_date_range {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  align-items: center;
  border-radius: 12px;
  background-color: #fff;
  z-index: 10;
}

.custom_date_range_input {
  width: 125px;
  border-radius: 12px;
  border: 1px solid var(--Grey, #e1e1ec);
  background: #fff;
  box-shadow: 0px 4px 6px 0px rgba(109, 100, 197, 0.1);
  color: var(--text_light);
  font-size: var(--fs_xsmall);
  font-style: normal;
  font-weight: 400;
  line-height: 1.37;
  padding: 8px 16px;
  transition: border 0.3s ease;
  &:hover,
  &:focus {
    outline: none;
    border: 1px solid var(--main_light);
  }
  &::placeholder {
    color: var(--text_light);
    font-size: var(--fs_xsmall);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.37;
  }
}

.chart_category_wrap {
  display: flex;
  gap: 16px;
  margin-bottom: 48px;
}

.chart_label {
  display: flex;
  gap: 12px;
  align-items: center;
  color: var(--text_dark);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 400;
  line-height: 1.58;
}

.bottom_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Chart style */
.chart_wrapper {
  padding-right: 50px;
  position: relative;
  margin-bottom: 17px;
}

.chart_container {
  overflow-x: auto;
}

.chart_box {
  height: 360px;
}

.fixed_y_axis {
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% - 10px);
  width: 50px;
  pointer-events: none;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding-left: 10px;
  align-items: flex-start;
  background: var(--background);
}

.axis_item {
  color: var(--text_light);
  font-family: var(--font_inter);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.custom_tooltip {
  position: absolute;
  top: 14px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  transition: all 0.2s ease;
  opacity: 0;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  background: var(--text_dark);

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -5.5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 6px solid var(--text_dark);
  }

  & p {
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 4px;
  }

  & div {
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background: #aebbff;
  }

  & span {
    color: var(--disabled_grey);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.modal_btn_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
