.main_wrap {
  position: relative;
}

.main {
  width: 100%;
  padding: 5px;
  padding-top: 88px;
  max-width: var(--container);
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .main {
    padding: 24px 32px 48px 317px;
    max-width: 1600px;
    transition: padding-left 0.3s ease;
  }
  .mainCollapsed {
    padding-left: 110px;
  }
}
