.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  border-radius: 24px;
  background: var(--background);
  padding: 24px;
}

.overlay {
  background: #21212133;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.header_wrap {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: flex-start;
}

.close_btn {
  flex-shrink: 0;

  &:hover,
  &:focus {
    .close_icon {
      fill: var(--main_blue);
      transform: rotate(90deg);
    }
  }
}

.close_icon {
  transition: fill 0.3s ease, transform 0.3s ease;
}

.title {
  color: var(--text_dark);
  font-size: var(--fs_large);
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;

  & span {
    white-space: nowrap;
  }
}

.text {
  color: var(--text_light);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 400;
  line-height: 1.58;
  margin-top: 8px;
}

.fields_wrap {
  margin-top: 24px;
  max-height: 80vh;
  overflow-y: auto;
}

.buttons_wrap {
  display: flex;
  gap: 16px;
  width: 100%;
  margin-top: 32px;
}

.buttons_wrap button {
  flex: 1;
}

.form {
  min-width: 455px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.label {
  color: var(--text_dark);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 400;
  line-height: 1.57;
  margin-bottom: 6px;
}

.input {
  height: 42px;
  padding: 10px 14px;
  border-radius: 12px;
  border: 1px solid var(--grey);
  background: var(--background);
  color: var(--text_dark);
  font-size: var(--fs_xsmall);
  font-style: normal;
  font-weight: 400;
  line-height: 1.37;
  transition: border 0.3s ease;
}

.input::placeholder {
  color: var(--text_light);
  font-size: var(--fs_xsmall);
  font-style: normal;
  font-weight: 400;
  line-height: 1.37;
}

.input:focus,
.input:hover {
  outline: none;
  border: 1px solid var(--main_light);
}

.input_error {
  border: 1px solid var(--error_main);

  &:focus,
  &:hover {
    outline: none;
    border: 1px solid var(--error_main);
  }
}

.error {
  color: var(--error_main);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-top: 6px;
}

.textarea {
  font-family: var(--font_sfPro);
  width: auto;
  height: auto;
  resize: none;
}

.textarea::placeholder {
  font-family: var(--font_sfPro);
  transition: all 0.3s ease;
}
