.select_wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
}

.select_label {
  color: var(--text_dark);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 400;
  line-height: 1.57;
  white-space: nowrap;
}

.select_container {
  position: relative;
  display: block;
  flex: 1;
}

.select_box {
  cursor: pointer;
  height: 40px;
  padding: 8px 14px;
  border-radius: 12px;
  border: 1px solid var(--grey);
  background: var(--background);
  color: var(--text_light);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 400;
  line-height: 1.57;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  transition: border 0.3s ease;

  & svg {
    transition: transform 0.3s ease;
  }
}

.text_selected {
  color: var(--text_dark);
}

.select_box:hover {
  border-radius: 12px;
  border: 1px solid var(--main_light);
}

.select_box.open {
  border: 1px solid var(--main_light);
  & svg {
    transform: rotate(180deg);
    fill: var(--text_dark);
  }
}

.select_options {
  position: absolute;
  z-index: 1;
  width: 100%;
  border-radius: 12px;
  background: var(--background);
  box-shadow: 0px 7px 10px 0px rgba(109, 100, 197, 0.1);
  padding: 4px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5px);
  transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;
}

.select_open.select_options {
  z-index: 2;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.option_item {
  padding: 6px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  &:hover,
  &:focus {
    background: var(--grey_light);

    & .list_icon {
      opacity: 1;
    }
  }
}

.list_text {
  color: var(--text_dark);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 400;
  line-height: 1.57;
  white-space: nowrap;
}

.list_icon {
  flex-shrink: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.select_box,
.option_item {
  user-select: none;
}
