.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* @media (min-width: 1408px) {
  } */
}

.container {
  padding: 24px;
  border-radius: 24px;
  background: var(--background);
  box-shadow: var(--box_shadow);
}

.logo {
  width: 80px;
  height: 57px;
  margin-bottom: 16px;
  margin: 0 auto;
}

.header {
  color: var(--text_dark);
  font-size: var(--fs_large);
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}

.header_text {
  color: var(--text_light);
  text-align: center;
  font-size: var(--fs_xsmall);
  font-style: normal;
  font-weight: 400;
  line-height: 1.37;
  margin-bottom: 32px;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  color: var(--text_dark);
  font-size: var(--fs_small);
  font-style: normal;
  font-weight: 400;
  line-height: 1.57;
  margin-bottom: 6px;
}

.input {
  padding: 13px 14px;
  border-radius: 12px;
  border: 1px solid var(--grey);
  margin-bottom: 16px;
  color: var(--text_dark);
  font-size: var(--fs_xsmall);
  font-style: normal;
  font-weight: 400;
  line-height: 1.37;
  transition: border 0.3s ease;
}

.input::placeholder {
  color: var(--text_light);
  font-size: var(--fs_xsmall);
  font-style: normal;
  font-weight: 400;
  line-height: 1.37;
}

.input:focus,
.input:hover {
  border: 1px solid var(--main_light);
  outline: none;
}

/* .input:focus::placeholder,
.input:hover::placeholder {
  color: #b5bbe1;
} */

.button {
  display: flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: var(--main_blue);
  color: var(--grey_light);
  font-size: var(--fs_xsmall);
  font-style: normal;
  font-weight: 600;
  line-height: 1.37;
  margin-top: 16px;
  transition: box-shadow 0.3s ease;
}

.button:hover,
.button:focus {
  box-shadow: 0px 5px 20px 0px var(--main_blue);
}

.loader {
  margin: 0 auto;
  border: 2px solid #b7b7b7b5;
  border-top: 2px solid #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: block;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
