.icon {
  opacity: 1;
  flex-shrink: 0;
  transition: opacity 0.3s ease;
}

.icon_hov {
  flex-shrink: 0;
  position: absolute;
  top: 13px;
  left: 16px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: flex-start;
  padding: 8px 16px;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid var(--main_blue);
  color: var(--main_blue);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.58;
  transition: background 0.3s ease;

  &:hover,
  &:focus {
    background: var(--main_lighter);
    & .icon {
      opacity: 0;
    }
    & .icon_hov {
      opacity: 1;
    }
  }

  &:disabled {
    border-radius: 12px;
    border: 1px solid var(--grey);
    background: var(--grey_light);
    color: var(--disabled_grey);
  }
}

@media (min-width: 375px) {
  .button {
    font-size: var(--fs_xsmall);
  }
}

@media (min-width: 768px) {
  .button {
    white-space: nowrap;
    text-align: center;
  }
}
