.button {
  position: relative;
  display: flex;
  padding: 12px 8px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid var(--main_blue);
  color: var(--main_blue);
  font-size: var(--fs_xsmall);
  font-style: normal;
  font-weight: 600;
  line-height: 1.37;
  transition: background 0.3s ease;
  height: 47px;
  white-space: nowrap;

  &:hover,
  &:focus {
    background: var(--main_lighter);
  }
}

@media (min-width: 360px) {
  .button {
    padding: 12px 16px;
  }
}

@media (min-width: 768px) {
  .button {
    padding: 12px 32px;
  }
}
